.name {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 10px aquamarine, -2px -2px 10px aquamarine;
}
.name:hover {
  color: aquamarine;
  text-shadow: 2px 2px 10px #fff, -2px -2px 10px #fff;
  font-weight: bold;
}
.text {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
.text:hover {
  color: aquamarine;
  font-weight: bold;
}
