html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
  /* color: #ffffff; */
  color: aquamarine;
  overflow: visible;
  overflow-y: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.25)),
    url("./images/wall-universe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  /* background: #050d0b; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  font-family: "Open Sans", sans-serif !important;
}

.App {
  text-align: center;
}
